body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.movie-list, .cart {
    margin: 20px 0;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
button {
    padding: 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: blue;
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
}
